<div mat-dialog-content>
  <h2 class="oldtypo-h2">{{ "moderators-dialog.title" | translate }}</h2>

  <div
    fxLayout="row"
    fxLayoutAlign="space-around">
    <p>{{ "moderators-dialog.join-code" | translate }} {{ shortIdCode }}</p>
    <button
      mat-icon-button
      *ngIf="moderatorShortId"
      (click)="copyShortIdLink()"
      [matTooltip]="'moderators-dialog.tooltip-clipboard' | translate"
      class="add">
      <mat-icon>share</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="isCreator"
      (click)="refreshCode()"
      [matTooltip]="'moderators-dialog.tooltip-recreate' | translate"
      class="add">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div fxLayout="row">
    <mat-form-field class="input-block">
      <input
        appAccessibilityEscapedInput
        matInput
        type="email"
        #loginId
        aria-labelledby="moderator-email"
        [formControl]="usernameFormControl"
        name="username" />
      <mat-placeholder class="placeholder">
        {{ "moderators-dialog.email" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="usernameFormControl.hasError('email')">
        {{ "moderators-dialog.email-error" | translate }}
      </mat-error>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button
      mat-icon-button
      class="add"
      (click)="addModerator(loginId.value); loginId.value = ''"
      aria-labelledby="add-moderator">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
  </div>
  <p
    class="oldtypo-p"
    *ngIf="moderators.length === 0">
    {{ "moderators-dialog.empty" | translate }}
  </p>
  <div *ngIf="moderators.length > 0">
    <div
      fxLayout="row"
      *ngFor="let moderator of moderators; index as i"
      class="moderators">
      <!--List of moderators-->
      <p
        class="oldtypo-p"
        *ngIf="moderator.loginId">
        {{ i + 1 }}. {{ moderator.loginId }}
      </p>
      <em
        class="oldtypo-p"
        *ngIf="!moderator.loginId">
        {{ i + 1 }}. {{ "moderators-dialog.guest" | translate }}
      </em>
      <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        *ngIf="isCreator"
        class="close"
        (click)="openDeleteRoomDialog(moderator)"
        aria-labelledby="delete-moderator">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<ars-row
  ars-flex-box
  class="action-button-container">
  <ars-col>
    <button
      mat-flat-button
      class="help-button"
      (click)="openHelp()">
      <mat-icon>question_mark</mat-icon>
      {{ "explanation.label" | translate }}
    </button>
  </ars-col>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="moderators-dialog"
      [spacing]="false"
      [cancelButtonClickAction]="
        buildCloseDialogActionCallback()
      "></app-dialog-action-buttons>
  </ars-col>
</ars-row>

<div class="visually-hidden">
  <div id="moderator-email">
    {{ "moderators-dialog.a11y-email" | translate }}
  </div>
  <div id="add-moderator">{{ "moderators-dialog.a11y-add" | translate }}</div>
  <div id="delete-moderator">
    {{ "moderators-dialog.a11y-delete" | translate }}
  </div>
</div>
