<div mat-dialog-content>
  <div>
    <h2 tabindex="0">{{ "header.sure" | translate }}</h2>
    <p tabindex="0">{{ "header.user-got-tokens" | translate }}</p>
  </div>
</div>

<app-dialog-action-buttons
  buttonsLabelSection="remind-of-tokens"
  confirmButtonLabel="logout"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="
    buildLogoutActionCallback()
  "></app-dialog-action-buttons>
