h3,
p {
  font-size: 14px !important;
  font-weight: normal !important;
}

.token {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: normal;
}

.roomName {
  margin: 0;
  font-weight: normal;
}

.tokens {
  cursor: pointer;
  margin: 20px 0;
}

.mailto,
.copyClipboard {
  background-color: var(--primary);
  color: var(--on-primary);
}

form {
  margin: 10px 0;
  text-align: center;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  max-width: 400px;
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}

.placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}
