mat-radio-button {
  margin: 5px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-radio-label-content {
  width: 100%;
}

.elementRow {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.elementText {
  align-content: flex-start;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.elementIcons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.comment_tag-icon {
  font-size: 16px;
  height: unset;
  width: unset;
}

.mat-dialog-content {
  padding: 0;
  margin: 0;
}

.noKeywords {
  background: var(--surface);
  color: var(--on-surface);
  margin-top: 20px;
}

.secondary-confirm-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}

.action-button-container {
  flex-wrap: wrap;
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    align-items: flex-end;
  }

  > ars-col {
    flex-grow: 1;
  }
}
