<h3>{{ "room-page.sure" | translate }}</h3>
<p>{{ "comment-page.really-delete-answer" | translate }}</p>
<app-dialog-action-buttons
  buttonsLabelSection="content"
  confirmButtonLabel="delete"
  [confirmButtonType]="confirmButtonType"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="
    buildCommentDeleteActionCallback()
  "></app-dialog-action-buttons>
