@import "src/layout/layout-util";

:host ::ng-deep {
  .mat-slide-toggle-thumb {
    background-color: var(--on-surface);
  }

  .mat-slide-toggle-bar {
    background-color: var(--grey);
  }

  .mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: var(--primary);
    }
  }
}

.primary-btn {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  width: 100%;
  margin-top: 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.secondary-btn {
  background-color: transparent;
  color: var(--cancel);
  outline: var(--cancel) solid 2px;
  width: 100%;
  margin-top: 10px;

  &:hover {
    background-color: var(--cancel);
    color: var(--on-cancel);
  }
}

.brainstorm-container {
  background-color: var(--surface);
  margin: 10px 0;

  > span {
    display: inline-block;
    margin-bottom: 8px;
  }

  > mat-form-field {
    width: 100%;
  }
}

.no-brainstorm-session {
  background-color: var(--surface);
  margin: 10px 0;
}

.brainstorm-session {
  background-color: var(--surface);
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  > ars-row {
    display: flex;

    > button {
      margin-left: 8px;
      margin-right: 8px;
    }

    @include onSmallWidth {
      overflow: auto;
      justify-content: space-between;
      flex-direction: column !important;
      flex-wrap: wrap;
      align-items: flex-end;

      > button {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.action-button-container {
  @include onSmallWidth {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}
