:host > mat-card {
  margin-top: 2rem;
  background: var(--surface) !important;
  color: var(--on-surface) !important;
  display: flex;
  flex-direction: column;
}

button.mat-flat-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.mat-form-field,
.mat-card {
  background-color: var(--dialog);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  color: var(--on-dialog);
  padding: 1rem 1rem 0.2rem 1rem;
}

.single,
.range,
.subnet {
  display: flex;

  > * {
    flex: 1;
  }

  mat-icon {
    color: red;
    font-size: 1.5em !important;
  }
}

.ip-adder {
  display: flex;
  gap: 1em;

  > button {
    margin: 10px;
  }
}

.mat-card-title {
  border-bottom: 1px dashed currentColor;
}

:host {
  margin-bottom: 5rem;
  display: block;
}
