<h2>{{ "room-page.sure" | translate }}</h2>
<p>
  {{ "room-page.reallySession" | translate }}
  <strong>&raquo;{{ room.name }}&laquo;</strong>
  {{ "room-page.really2" | translate }}
</p>
<app-dialog-action-buttons
  buttonsLabelSection="room-page"
  confirmButtonLabel="delete-room"
  [confirmButtonType]="confirmButtonType"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="
    buildRoomDeleteActionCallback()
  "></app-dialog-action-buttons>
