<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="20px"
  fxFill>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="5px">
    <button
      mat-raised-button
      (click)="openCreateRoomDialog()">
      <mat-icon>add</mat-icon>
      {{ "home-page.create-session" | translate }}
    </button>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center">
    <app-room-list></app-room-list>
  </div>
</div>
