<div
  fxLayout="row"
  (document:keyup)="onKeyUp($event)">
  <div
    fxLayout="column"
    fxLayoutAlign="center">
    <mat-icon>zoom_out</mat-icon>
  </div>
  <mat-slider
    min="1"
    max="5"
    step="0.1"
    tickInterval="auto"
    (input)="updateFontSize($event)"
    id="slider"></mat-slider>
  <div
    fxLayout="column"
    fxLayoutAlign="center">
    <mat-icon>zoom_in</mat-icon>
  </div>
</div>
<button
  id="exitButton"
  mat-raised-button
  (click)="onCloseClick()"
  aria-labelledby="exit-description">
  <mat-icon>close</mat-icon>
</button>
<div id="comment">
  <app-view-comment-data [currentData]="body"></app-view-comment-data>
</div>

<div class="visually-hidden">
  <div id="exit-description">
    {{ "comment-page.exit-description" | translate }}
  </div>
</div>
