<ars-screen
  class="screen"
  *ngIf="!resolved">
  <div class="background"></div>

  <div class="particle-container">
    <div *ngFor="let particle of [].constructor(15)"></div>
  </div>
</ars-screen>
