<h3>{{ "brainstorming-edit.title" | translate }}</h3>
<mat-dialog-content>
  <mat-card class="brainstorm-container">
    <mat-form-field appearance="fill">
      <mat-label>{{ "brainstorming-edit.question" | translate }}</mat-label>
      <input
        matInput
        autofocus
        autocomplete="off"
        type="text"
        appAccessibilityEscapedInput
        (keyup)="checkForEnter($event)"
        [(ngModel)]="question" />
      <button
        *ngIf="question"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="question = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "brainstorming-edit.word-count" | translate }}</mat-label>
      <input
        matInput
        autocomplete="off"
        type="number"
        appAccessibilityEscapedInput
        [min]="maxWordCountMin"
        [max]="maxWordCountMax"
        [formControl]="maxWordCount" />
      <mat-hint>
        {{
          "brainstorming-edit.field-hint-number"
            | translate : { min: maxWordCountMin, max: maxWordCountMax }
        }}
      </mat-hint>
      <mat-error *ngIf="maxWordCount.hasError('required')">
        {{ "brainstorming-edit.field-required" | translate }}
      </mat-error>
      <mat-error *ngIf="maxWordCount.hasError('min')">
        {{
          "brainstorming-edit.field-too-low"
            | translate : { min: maxWordCountMin }
        }}
      </mat-error>
      <mat-error *ngIf="maxWordCount.hasError('max')">
        {{
          "brainstorming-edit.field-too-high"
            | translate : { max: maxWordCountMax }
        }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "brainstorming-edit.word-length" | translate }}</mat-label>
      <input
        matInput
        autocomplete="off"
        type="number"
        appAccessibilityEscapedInput
        [min]="maxWordLengthMin"
        [max]="maxWordLengthMax"
        [formControl]="maxWordLength" />
      <mat-hint>
        {{
          "brainstorming-edit.field-hint-number"
            | translate : { min: maxWordLengthMin, max: maxWordLengthMax }
        }}
      </mat-hint>
      <mat-error *ngIf="maxWordLength.hasError('required')">
        {{ "brainstorming-edit.field-required" | translate }}
      </mat-error>
      <mat-error *ngIf="maxWordLength.hasError('min')">
        {{
          "brainstorming-edit.field-too-low"
            | translate : { min: maxWordLengthMin }
        }}
      </mat-error>
      <mat-error *ngIf="maxWordLength.hasError('max')">
        {{
          "brainstorming-edit.field-too-high"
            | translate : { max: maxWordLengthMax }
        }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>
        {{ "brainstorming-edit.language-title" | translate }}
      </mat-label>
      <mat-select [formControl]="language">
        <mat-option
          *ngFor="let lang of languages"
          [value]="lang">
          {{ "brainstorming-edit.language." + lang | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="language.hasError('required')">
        {{ "brainstorming-edit.field-required" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-label>
      {{
        "brainstorming-edit.duration" | translate : { duration: getDuration() }
      }}
    </mat-label>
    <mat-slider
      [max]="45"
      [min]="5"
      [step]="5"
      discrete
      [(ngModel)]="brainstormingDuration"
      [displayWith]="displayMin"
      showTickMarks>
      <input matSliderThumb />
    </mat-slider>
    <br />
    <mat-slide-toggle [(ngModel)]="brainstormingAllowIdeas">
      {{ "brainstorming-edit.allow-ideas" | translate }}
    </mat-slide-toggle>
    <br />
    <mat-slide-toggle [(ngModel)]="brainstormingAllowRating">
      {{ "brainstorming-edit.allow-rating" | translate }}
    </mat-slide-toggle>
    <button
      mat-flat-button
      class="primary-btn"
      [disabled]="!canCreate()"
      (click)="update()">
      {{ "brainstorming-edit.update" | translate }}
      <app-mat-spinner-overlay
        *ngIf="isCreating"
        diameter="20"
        strokeWidth="2"
        [color]="'on-primary'"></app-mat-spinner-overlay>
    </button>
  </mat-card>
</mat-dialog-content>
