:host > mat-card {
  margin-top: 2rem;
  background: var(--surface) !important;
  color: var(--on-surface) !important;
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.time-select {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.mat-form-field {
  background-color: var(--dialog);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  color: var(--on-dialog);
  padding: 1rem 1rem 0.2rem 1rem;
}

:host {
  margin-bottom: 5rem;
  display: block;
}
