<div
  class="userHomeContainer"
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="20px">
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="15px">
    <app-room-join></app-room-join>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    class="button-container">
    <button
      class="new-session"
      [disabled]="!this.sessionService.isReady"
      mat-flat-button
      (click)="openCreateRoomDialog()"
      id="create_session-button">
      <mat-icon class="add">add</mat-icon>
      {{ "home-page.create-session" | translate }}
    </button>
  </div>
  <div
    *ngIf="!loadingRatings"
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="15px">
    <app-app-rating
      [onSuccess]="onRate.bind(this)"
      [popUpBelow]="true"
      [ratingResults]="accumulatedRatings"></app-app-rating>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="15px">
    <app-room-list></app-room-list>
  </div>
  <button
    id="live_announcer-button"
    tabIndex="-1"
    (click)="announce()"
    class="visually-hidden">
    {{ "home-page.live-announcer-user" | translate }}
  </button>
</div>
