<div>
  <h2
    class="header"
    tabindex="0">
    {{ "overlay.title" | translate }}
  </h2>

  <mat-dialog-content tabindex="0">
    <p class="oldtypo-p">{{ "overlay.message" | translate }}</p>
  </mat-dialog-content>

  <app-dialog-action-buttons
    buttonsLabelSection="overlay"
    confirmButtonLabel="understood"
    cancelButtonLabel="cancel"
    [confirmButtonType]="confirmButtonType"
    [confirmButtonClickAction]="onResume.bind(this)"
    [cancelButtonClickAction]="onAbort.bind(this)"></app-dialog-action-buttons>
</div>
