<h3>{{ "quill.heading" | translate }}</h3>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{ "quill.tooltip-label-" + data.type | translate }}</mat-label>
    <input
      type="text"
      appAccessibilityEscapedInput
      matInput
      autofocus
      placeholder="{{ 'quill.tooltip-placeholder-' + data.type | translate }}"
      [(ngModel)]="value" />
  </mat-form-field>

  <ng-container *ngIf="data.type === 'formula'">
    <h3>{{ "quill.preview" | translate }}</h3>

    <app-custom-markdown
      [data]="getKatex()"
      [katexOptions]="katexOptions"></app-custom-markdown>
  </ng-container>
</mat-dialog-content>
<app-dialog-action-buttons
  [buttonsLabelSection]="'quill'"
  [confirmButtonLabel]="'tooltip-action-save'"
  [confirmButtonClickAction]="buildConfirmAction()"
  [cancelButtonClickAction]="buildCancelAction()"></app-dialog-action-buttons>
