<mat-list *ngIf="room">
  <mat-list-item>ID: {{ room.id }}</mat-list-item>
  <mat-list-item>Short ID: {{ room.shortId }}</mat-list-item>
  <mat-list-item>Abbreviation: {{ room.abbreviation }}</mat-list-item>
  <mat-list-item>Name: &raquo;{{ room.name }}&laquo;</mat-list-item>
  <mat-list-item>Description: {{ room.description }}</mat-list-item>
  <mat-list-item>Closed: {{ room.closed }}</mat-list-item>
</mat-list>

<!-- content-type of room-page-->
