.toggle-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .toggle-column {
    display: flex;
    flex-direction: column;
    margin: 10px;

    mat-slide-toggle {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.submit-button {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  align-self: center;
  background-color: var(--secondary);
}
.notification-t {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--grey); /* Hintergrundfarbe ändern */
  color: #fff; /* Textfarbe ändern */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Übergangseffekt hinzufügen */
}

.submit-button:hover {
  background-color: var(--secondary);
}
