<div>
  <p class="notification-t">{{ "notifications-options" | translate }}</p>
</div>
<div class="toggle-container">
  <div class="toggle-column">
    <mat-slide-toggle [(ngModel)]="listenToCreated">
      {{ "toggle-labels.createLabel" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="listenToDeleted">
      {{ "toggle-labels.deleteLabel" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="listenToAnswered">
      {{ "toggle-labels.answerLabel" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="listenToChangeAck">
      {{ "toggle-labels.ackLabel" | translate }}
    </mat-slide-toggle>
  </div>
  <div class="toggle-column">
    <mat-slide-toggle [(ngModel)]="listenToChangeFavorite">
      {{ "toggle-labels.favoriteLabel" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="listenToChangeCorrect">
      {{ "toggle-labels.correctLabel" | translate }}
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="listenToChangeTag">
      {{ "toggle-labels.tagLabel" | translate }}
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="listenToChangeScore">
      {{ "toggle-labels.scoreLabel" | translate }}
    </mat-slide-toggle>
  </div>
  <button
    class="submit-button"
    (click)="submit()">
    {{ "submitButtonLabel" | translate }}
  </button>
</div>
