<div
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px">
  <div
    fxLayout="row"
    fxLayoutAlign="center">
    <app-comment-list></app-comment-list>
    <button
      id="live_announcer-button"
      tabIndex="-1"
      (click)="announce()"
      class="visually-hidden">
      {{ "comment-page.live-announcer" | translate }}
    </button>
  </div>
</div>
