<h1>{{ "brainstorming-blacklist.title" | translate }}</h1>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>
      {{ "brainstorming-blacklist.placeholder-add" | translate }}
    </mat-label>
    <input
      matInput
      [(ngModel)]="newBlacklistWord" />
  </mat-form-field>

  <button
    mat-flat-button
    class="edit-button"
    (click)="addBlacklistWord()">
    {{ "brainstorming-blacklist.add-button" | translate }}
  </button>

  <button
    mat-flat-button
    class="edit-button"
    *ngIf="blacklist?.length > 0"
    (click)="showBlacklistWordList = !showBlacklistWordList">
    {{
      showBlacklistWordList
        ? ("brainstorming-blacklist.hide-button" | translate)
        : ("brainstorming-blacklist.show-button" | translate)
    }}
  </button>

  <mat-list
    role="list"
    *ngIf="showBlacklistWordList && blacklist?.length > 0"
    class="margin-bottom">
    <mat-list-item
      class="color-on-surface"
      *ngFor="let word of blacklist"
      role="listitem">
      {{ word.word }}
      <button
        style="margin-left: auto; color: var(--red)"
        mat-icon-button
        matTooltip="{{ 'brainstorming-blacklist.back' | translate }}"
        (click)="removeWordFromBlacklist(word.id)">
        <mat-icon
          class="material-icons-outlined"
          mat-list-icon
          style="margin-bottom: 6px">
          undo
        </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<app-dialog-action-buttons
  buttonsLabelSection="brainstorming-blacklist"
  confirmButtonLabel="update"
  [spacing]="true"
  [confirmButtonClickAction]="
    buildSaveActionCallback()
  "></app-dialog-action-buttons>
