<div
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="20px">
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="5px">
    <app-room-join></app-room-join>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="5px">
    <app-room-list></app-room-list>
  </div>
</div>
