<svg
  #clock
  class="clock cardHeaderItem"
  [ngClass]="{ background: withBackground }"
  xmlns="http://www.w3.org/2000/svg"
  width="600"
  height="600"
  viewBox="0 0 600 600">
  <g class="face">
    <circle
      class="circle"
      cx="300"
      cy="300"
      r="253.9" />
    <path
      class="hour-marks"
      d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6" />
  </g>
  <g
    class="duration"
    *ngIf="calculateArc() as arcInfo">
    <path
      class="duration-arc-passed"
      [attr.d]="arcInfo[0]" />
    <path
      class="duration-arc"
      [attr.d]="arcInfo[1]" />
  </g>
  <g class="hour">
    <path
      class="hour-arm"
      d="M300.5 298V142" />
  </g>
  <g class="minute">
    <path
      class="minute-arm"
      d="M300.5 298V67" />
  </g>
  <g class="second">
    <path
      class="second-arm"
      d="M300.5 350V55" />
  </g>
  <g class="mid">
    <circle
      class="mid-circle"
      cx="300"
      cy="300"
      r="20.0" />
  </g>
</svg>
