<h2 mat-dialog-title>{{ "explanation.text" | translate }}</h2>
<div mat-dialog-content>
  <p>{{ "explanation.dialog-content" | translate }}</p>
</div>
<button
  mat-flat-button
  class="close-button"
  [mat-dialog-close]="false">
  {{ "explanation.close" | translate }}
</button>
