h3 {
  padding-top: 25px;
  font-size: 18px;
}

p {
  hyphens: auto;
  line-height: 1.5;
}

.closeButton {
  background-color: red;
  position: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.5 !important;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.close-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;

  margin: 10px;
  float: right;

  &:hover {
    background-color: var(--primary) !important;
    color: var(--on-secondary);
  }

  .mat-icon {
    font-size: 18px;
  }
}
